/* Déclaration des variables CSS utilises au projet */
:root{
    --color-cv: rgb(245, 82, 18);
}

/* Déclaration de la font family de Google installée en CDN */
body {
    font-family: 'Lato', sans-serif;
}

/* Personnalisation du menu */
@media screen and (width>764px) {
    .divtoggler{
        width: 40%;
    }
}
        
@media screen and (width>752px) {
    .divtoggler{
        width: 100%;
    }
}
    
@media screen and (width>979px) {
        .divtoggler {
            width: 40%;
            background-color: red;
        }
}

.bg-cv {
    background-color: var(--color-cv) !important;
}

/***SECTION de présentation ****/
#photoProfile {
    max-width: 400px;
}

#buttonDownloadCV:hover {
    color:var(--color-cv);
}

/* Surchager des couleurs et de l'effet de survol sur le menu de navigation du CV */
.navbar-nav .nav-link {
  color: white;
}

.nav-link:hover {
    background-color: white;
    color:var(--color-cv) !important;
}

/******** SECTION des compétences ******/
.color-cv {
    color: var(--color-cv)
}

#divDivider {
    width: 131px;
    border-top: 2px solid var(--color-cv);
    margin: 20px auto;
}
