/* Déclaration des variables CSS utilises au projet*/
:root{
    --background-cv: #f04434;
}

/* Déclaration de la font family de Google installée en CDN */
body {
    font-family: 'Lato', sans-serif;
}

/* Personnalisation du menu */
@media screen and (width>764px) {
    .divtoggler{
        width: 40%;
    }
}
        
@media screen and (width>752px) {
    .divtoggler{
        width: 100%;
    }
}
    
@media screen and (width>979px) {
        .divtoggler {
            width: 40%;
            background-color: red;
        }
}

.bg-cv {
    background-color: var(--background-cv) !important;
}

/* Surchager des couleurs et de l'effet de survol sur le menu de navigation du CV */
.navbar-nav .nav-link {
  color: white;
}

.nav-link:hover {
    background-color: white;
    color:var(--background-cv) !important;
}