body {
    font-family: 'Lato', sans-serif;
}

/* Personnalisation du menu */
   .divtoggler{
        @media screen and (width>764px) {
            width: 40%;
            color:red;
            }
        
        @media screen and (width>752px) {
            width: 100%;
            color:red;
            }
    
        @media screen and (width>979px) {
            width: 40%;
            color:red;
            }
} 

